<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status ="INFO">

    <CustomerLevels>
        <CustomLevel name="VERBOSE" intLevel="550"/>
    </CustomerLevels>

    <Appenders>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="LogFile" fileName="app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} {%t} %m%</Pattern>
            </PatternLayout>
        </File>

        <Loggers>
            <Root level="error">
                <AppenderRef ref="LogFile"/>
                <AppenderRef ref="LogToConsole"/>
            </Root>
        </Loggers>

    </Appenders>
</Configuration>